<h1><%= @achievement.title %></h1>
<div>

<%  #@description.html_safe %>
<%= @achievement.description_html.html_safe %>
<% #after implementing this change, we run rspect to check if all is still looking dandee %> 

</div>